In [1]:
!pip install pandas
#Pandas is open-source Python library which is used for data manipulation and analysis.
#it is wel suited for tabular data like spreadsheets or sql tables.it is used for data science, it is built on top of numpy.
#Data Cleaning, Merging and Joining, 
#handling missing data, 
#column in sertion and deletion
#data visualization

Requirement already satisfied: pandas in c:\users\reddy\anaconda3\jupyter\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\reddy\anaconda3\jupyter\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\reddy\anaconda3\jupyter\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\reddy\anaconda3\jupyter\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\reddy\anaconda3\jupyter\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\reddy\anaconda3\jupyter\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.1.2 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
Two data structures
Pandas Series: A Pandas Series is one-dimensional labeled array capable of holding data of any type (integer, string, float..)
Pandas DataFrame is a two-dimensional data structure with labeled axes (rows and columns).
It can be created from loading dataset or creating from list, dict..etc

In [4]:
import pandas as pd
import numpy as np
l=[1,2,3,4,5]
np.array(l)

array([1, 2, 3, 4, 5])

In [7]:
pd.Series([l,l,l])
#numbers on left which assigned automatically

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [16]:
df=pd.DataFrame([l,l,l,l,l], columns=['A','B', 'C', 'D','E'])
df

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5
3  1  2  3  4  5
4  1  2  3  4  5

In [ ]:
#del df -> to delete df
pd.array()

In [21]:
import numpy as np
import pandas as pd 

s=pd.Series()
print(s)

data=np. array(['s','a','h','a','n','a'])
s=pd.Series(data)
print(s)

Series([], dtype: object)
0    s
1    a
2    h
3    a
4    n
5    a
dtype: object

In [23]:
#position - based indexing
#in order to access series elements refer to index number
#inorder to access multiple elements access slice operation
import numpy as np
import pandas as pd 
data=np. array(['s','a','h','a','n','a'])
s=pd.Series(data)
print(s[:2])

0    s
1    a
dtype: object

In [24]:
#label based indexing
#In order to access an element, we have to set values by index label
import numpy as np
import pandas as pd 
data=np. array(['s','a','h','a','n','a'])
ser=pd.Series(data, index=[0,1,2,3,4,5])
print(ser[0])

s

In [ ]:
import pandas as pd
df=pd.read_csv("nba.csv")
ser=pd.Series(df['Name'])
data=ser.head(10)
data

In [ ]:
data.loc[3:6]
#data.loc[3:6] which retrieves elements with labels from 3 to 6

In [ ]:
import pandas as pd  
  
df = pd.read_csv("nba.csv")  
   
ser = pd.Series(df['Name']) 
data = ser.head(10)
data

In [ ]:
data.iloc[3:6]
#It fetch elements at index positions 3 to 5 excluding index 6.

In [28]:
#Binary operations
import pandas as pd
import numpy as np
s1=pd.Series([1,2,3], index=['A', 'B', 'C'])
s2=pd.Series([4,5,6], index=['A', 'B', 'C'])

sum=s1.add(s2)
print(sum)

A    5
B    7
C    9
dtype: int64

In [30]:
#conversion operation
# .astype(float) method converts all integer values in the Series to float.
import pandas as pd
s=pd.Series([1,2,3,4])
s=s.astype(float)
print(s)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

#dataframe is 2d table like structure where data arranged in rows and columns, it is # It used to handle data and make it easy to organize and manipulate data
#data- actual values in the table
#rows: lable (rows)
#col : label(col)

In [35]:
import pandas as pd
data={'Name':['sahana','tom'],
      'Age':[20,21],
     'sex':['F','M']}
df=pd.DataFrame(data)
print(df[['Name', 'Age']])

     Name  Age
0  sahana   20
1     tom   21

#checking for missing values-isnull() and notnull()
#isnull() - it returns True for missing and false otherwise
#notnull() - it return the opposite

In [37]:
import pandas as pd
import numpy as np
dict= {'First Score':[100,90, np.nan, 95],
       'second score': [30,45,56,np.nan]}
df=pd.DataFrame(dict)
df.notnull()

   First Score  second score
0         True          True
1         True          True
2        False          True
3         True         False

In [38]:
#fillna , replace(),  interploate()   ...... these func replace NaN, help to fill null, 
#interploate()-fill NA values
import pandas as pd
 
import numpy as np
 
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
df = pd.DataFrame(dict)
 
df.fillna(0)

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

In [39]:
#dropna(remove rows or columns with missing data)
import pandas as pd
 
import numpy as np
 
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
df = pd.DataFrame(dict)
 
df.dropna()

   First Score  Second Score  Third Score  Fourth Score
3         95.0          56.0           98          65.0

In [40]:
#iterrows()  -> in order to get a each element of row
import pandas as pd
  
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
df = pd.DataFrame(dict)

for i, j in df.iterrows():
    print(i, j)
    print()

0 name      aparna
degree       MBA
score         90
Name: 0, dtype: object

1 name      pankaj
degree       BCA
score         40
Name: 1, dtype: object

2 name      sudhir
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Geeku
degree      MBA
score        98
Name: 3, dtype: object

In [42]:
#itercolums-> iterate through colums 

import pandas as pd
   
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
df = pd.DataFrame(dict)

columns = list(df)
 
for i in columns:
    print (df[i][2])

sudhir
M.Tech
80

In [ ]:
#index()- method return index
#insert() - insert a column into a dataframe
#add - returns addition of dataframe
#axes()  - returns a list representing the axes of the DataFrame
#loc()  -  retrieves rows based on index label
#iloc - retrieves rows based on index position

In [43]:
import pandas as pd
data={
    "Name":["Sahana","Tom"],
    "Age": [21,20],
    "City":["Bangalore", "Hyderabad"]
}
df=pd.DataFrame(data)
print(df)

     Name  Age       City
0  Sahana   21  Bangalore
1     Tom   20  Hyderabad

In [51]:
import pandas as pd

names=["Sahana","Tom"]
ages=[21,20]
cities=["Bangalore", "Hyderabad"]

df=pd.DataFrame({
    "Name" : names,
    "Age" : ages,
    "City" : cities
})
print(df)

     Name  Age       City
0  Sahana   21  Bangalore
1     Tom   20  Hyderabad

In [ ]:
#head(n): Displaying the First Few Rows
#tail(n): Displaying the Last Few Rows
#exploring colums
print(df.colums)
#checking data types
print(df.dtypes)
#generating describe
print(df.describe())
#accessing a single column and multiple columns
print(df["Name"])
print(df[["Name", "city"]])
print(df["City"].unique())    #finding unique values in a column
print(df[df["Age"]>30])
print(df.iloc[0])   #index based indexing with iloc
df=df.drop('City', axis=1)
print(df) # delete a col
df=df[df['Age']!=35]
print(df)    # delete row based on condition